* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #420068;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    width: 500px;
    height: 200px;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    color: #000000;
    background-color: #d0b4f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}